/* You can add global styles to this file, and also import other style files */

.container {
  margin-top: 60px;
}

.add-car {
  margin-bottom: 10px;
}

.list-car {
  margin-bottom: 50px;

}

.btn-add-car {
  margin-right: 10px;
}
.btn{
  padding: 6px 10px;
}

.form-control {
  text-transform: capitalize;
}

.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
